body {
    background-color: #d0d0d0;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 650px;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -395px;
    padding: 40px 70px;
    text-align: center;
}

.container .image {
    margin-bottom: 0px;
}

.container .image img {
    max-width: 100%;
    height: auto;
}

.container .email {
    margin-top: 5px;
}

.container .email a {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    padding-top: 10px;
    color: #0000ee;
}
